name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'maven'

      # To be removed once Test Containers resolves their issue
      # https://stackoverflow.com/questions/79817033/sudden-docker-error-about-client-api-version
      - name: Declare Docker API Version
        run: echo "api.version=1.44" >> ~/.docker-java.properties

      - name: Build and Package
        run: mvn clean package -DskipTests

      - name: Run Tests
        run: mvn --batch-mode clean test
